<h4 class="pb-3 mt-4">Past Event</h4>
<div class="row">
<% @past.each do |past| %>
  <div class="col-sm-3 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-2"><%= past.name %></h5>
        <p class="card-text"><%= past.description %></p>
        <p><strong>Location: </strong><small class="card-text"><%= past.location %></small></p>
        <p><strong>Date: </strong>
        <small class="card-text">
            <strong><%= past.date.to_s.split(' ').first %> </strong>
            <em><%= past.date.to_s.split(' ')[1] %></em>
        </small>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>






<h4 class="pb-3">Upcoming Event</h4>
<div class="row">
<% @upcoming.each do |up| %>
  <div class="col-sm-3 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-2"><%= up.name %></h5>
        <p class="card-text"><%= up.description %></p>
        <p><strong>Location: </strong><small class="card-text"><%= up.location %></small></p>
        <p><strong>Date: </strong>
        <small class="card-text">
            <strong><%= up.date.to_s.split(' ').first %> </strong>
            <em><%= up.date.to_s.split(' ')[1] %></em>
        </small>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
